<div class="User">
  <h1>Your Adventures</h1>

  <h2>Created Adventures:</h2>
  <ul>
    <% @adventures.each do |adventure|%>
      <li> <%= adventure.name %>
    <% end %>
  </ul>

  <% past_adventures = [] %>
  <% upcoming_adventures = [] %>
  <% current_user.attended_adventures.each do |adventure|%>
    <% if adventure.date >= Date.today %>
      <% upcoming_adventures << adventure %>
    <% else %>
      <% past_adventures << adventure %>
    <% end %>
  <% end %>

  <h2>Your Upcoming Adventures:</h2>
  <ul>
    <% upcoming_adventures.each do |adventure|%>
      <li> <%= adventure.name %> on <%= adventure.date %>
    <% end %>
  </ul>

  <h2>Your Past Adventures:</h2>
  <ul>
    <% past_adventures.each do |adventure|%>
      <li> <%= adventure.name %> on <% adventure.date %>
    <% end %>
  </ul>
</div>