<div class="User">
  <h1>Your Events</h1>

  <h2>Created Events:</h2>
  <ul>
    <% @events.each do |event|%>
      <li> <%= event.name %>
    <% end %>
  </ul>

  <% past_events = [] %>
  <% upcoming_events = [] %>
  <% current_user.attended_events.each do |event|%>
    <% if event.date >= Date.today %>
      <% upcoming_events << event %>
    <% else %>
      <% past_events << event %>
    <% end %>
  <% end %>

  <h2>Your Upcoming Events:</h2>
  <ul>
    <% upcoming_events.each do |event|%>
      <li> <%= event.name %> on <%= event.date %>
    <% end %>
  </ul>


  <h2>Your Past Events:</h2>
  <ul>
    <% past_events.each do |event|%>
      <li> <%= event.name %> on <% event.date %>
    <% end %>
  </ul>
</div>