<div class="Event">
  <h1><%= @event.name %></h1>
  <h2>Occuring on <%= @event.date %></h2>

  <% if user_signed_in? %>
    <%= form_for @event, url: attend_event_path(@event), method: :post, remote: true do |f| %>
      <%= f.submit "Attend Event", class: 'btn btn-primary' %>
    <% end %>
<% end %>
</div>