<div class="adventure adventure-intro">
  <div class="text-intro">
    <h1>"Welcome to TableTop Tavern!"</h1>
    <p>"Kick up yer boots, traveler, and grab an ale. Take a look at our Adventure Board, a listing of adventures from all 'cross the multiverse."</p>
  </div>

  <div class="middle-content">
    <div class="left">
      <%= image_tag "tavernkeeper.jpeg", size: "450x450", alt: "Tavernkeeper Image", class: "innkeeper" %>
    </div>

    <div class="right">
      <h2>Upcoming Adventures</h2>
      <div class="adventure-list">
      <% @adventures.each do |adventure| %>
        <%= render 'entry', adventure: adventure, attended_adventures: @attended_adventures, mode: 'brief' %>
      <% end %>
        <a href="<%= adventures_path %>">
          <div class="adventure-entry find-more">
            <div>FIND MORE</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
