.adventure {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: white;
}

.adventure .adventure-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  max-width: 825px;
  max-height: 50vh;
}

.adventure .adventure-entry {
  display: flex;
  gap: 15px;
  align-items: center;

  min-height: 60px;
  padding: 5px;

  border: 2px solid #BD5532;
  color: #db9882;
  background-color: #29120b;
}

.adventure .creator-entry {
  border: 2px solid #bbbd32;
  color: #d5db82;
  background-color: #29260b;
}

.adventure .attendee-entry {
  border: 2px solid #7cbd32;
  color: #aadb82;
  background-color: #16290b;
}

.adventure .adventure-entry:hover {
  border-color:#e7673c;
  color: #db9882;
  background-color: #3f1c11;
}

.adventure .creator-entry:hover {
  border: 2px solid #dbdd46;
  color: #d5db82;
  background-color: #494418;
}

.adventure .attendee-entry:hover {
  border: 2px solid #9be04b;
  color: #aadb82;
  background-color: #274615;
}

.adventure .adventure-entry .title {
  font-size: 25px;
  width: 250px;
}

.adventure .adventure-entry .details {
  display: flex;
  flex-direction: column;
}

.adventure .adventure-entry .seats {
  font-size: 21px;
  margin-left: auto;
  padding-right: 5px;
}

.adventure-index, .adventure-intro {
  flex-direction: column;
}

.adventure-index, .adventure-show {
  padding: 10px;
  background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("tavern-wide-bg.jpeg");
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-position-y: -100px;

  --text_col: #bda332;
  --bg_col: #660a0a7c;
}

.adventure-intro {
  width: 100%;
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("tavern-wide-bg.jpeg");
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-position-y: -100px;
}

.adventure-intro .middle-content {
  display: flex;
  width: 100%;
}

.adventure-intro .left {
  justify-self: center;
  align-self: center;
  margin-left: 15%;
}

.adventure-intro.adventure-entry .details {
  margin-right: 5px;
  margin-left: 20px;
}


.adventure-intro .find-more {
  justify-content: center;
  font-size: 40px;
}

.adventure-index .adventure-list {
  overflow: auto;
}

.adventure-index .adventure-entry {
  max-width: 800px;
}

.adventure-index .adventure-entry .details {
  margin-right: 5px;
  margin-left: 100px;
}

.adventure-index .filter-form {
  display: flex;
  gap: 10px;
}

.adventure-index .form-buttons{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: center;
}

.adventure-index .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.adventure .form-item {
  display: flex;
  font-size: 18px;
  color: var(--text_col);
}

.adventure-index .form-item {
  flex-direction: column;
}

.adventure .form-item .form-control {
  font-size: 18px;
  color: var(--text_col);
  background-color: #660a0a7c;
}

.adventure .form-item select option {
  background: #440707;
}

.adventure-index .form-item .form-lvl {
  width: 80px;
  color: var(--text_col);
}

.adventure-index .content {
  display: flex;
  width: 85vw;
  flex-grow: 1;
  margin-left: 10vw;
}

.adventure-index .content .button_to {
  margin-right: 50px;
  margin-top: 80px;
}

.adventure-index .content .adventure-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.adventure-index .content .adventure-list-title, 
.adventure-new .title,
.adventure-edit .title  {
    font-size: 45px;
    font-family: "Metam";
    color: #db9882;
    margin-top: 15px;
}

.adventure-index .content .adventure-list-title{
  margin-left: 5%;
}

.adventure-show {
  flex-direction: column;
  gap: 50px;
  color: #db9882;
  padding-top: 50px;
}

.adventure-show .main-title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'metam';
  color: #dbb582;
}

.adventure-show .content {
 display: flex;
 gap: 20px; 
}

.adventure-show a {
  color: #e69122;
}

.adventure-show .main-details, 
.adventure-show .details, 
.adventure-show .attendees-details,
.adventure-new .form-controls,
.adventure-edit .form-controls {
  border-style: ridge;
  border-width: 5px;
  border-color: rgb(194, 106, 23);
  background-color: rgba(100, 61, 25, 0.61);
  padding: 5px;
}

.adventure-show .main-details {
  align-self: flex-start;
  margin-top: 5%;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;

}

.adventure-show .secondary-details {
  display: flex;
  flex-direction: column;
  width: 550px;
  gap: 15px;
}

.adventure-show .details, 
.adventure-show .attendees-details {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.adventure-show .time,
.adventure-show .attendees-title {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
}

.adventure-show .description {
  padding-left: 5%;
  padding-right: 5%;
}

.adventure-show .attendees {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 10px;
}

.adventure-show .attendee {
  margin: 5px;
  position: relative;
}

.adventure-show .attendee-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.adventure-show .attendee-tooltip-text {
  visibility: hidden;
  min-width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.adventure-show .attendee:hover .attendee-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.adventure-show .attendee img {
  border-style: solid;
  border-color: rgba(194, 106, 23, 0.021);
  border-width: 2px;
}

.adventure-show .attendee:hover img {
  border-style: solid;
  border-color:rgb(194, 106, 23);
  border-width: 2px;
}

.adventure-show .actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.adventure-new, .adventure-edit {
  padding: 10px;
  background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("adventure-start-bg.jpeg");
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-position-y: -100px;

  --text_col: #bda332;
  --bg_col: #660a0a7c;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.adventure-new .form-controls,
.adventure-edit .form-controls{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 15px;
}

.adventure-new hr,
.adventure-edit hr {
  width: 25%;
  border-color: var(--text_col);
}

.adventure-new .form-item,
.adventure-edit .form-item {
  gap: 10px;
}

.adventure-new label,
.adventure-edit label {
  font-weight: bold;
  min-width: 100px;
}

.adventure-new .description,
.adventure-edit .description {
  height: 150px;
  min-height: 150px;
}

.adventure .form-item .form-check-input {
  accent-color: #ac23237c;
}

.adventure-new .btn,
.adventure-edit .btn {
  margin: 10px auto;
}