.character {
  --img_size: 125px;
  --text_col: #aaece5;
}

.character #avatar-thumbnails-full {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.466);
}

.character #avatar-thumbnails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;

  --w: calc((var(--img_size) + 6px) * 6 + 17px + 16px );
  position: fixed;
  top: 15%;
  margin-left: calc(50% - (var(--w)/2));
  width: var(--w);
  height: 700px;
  overflow: auto;
  background-color: black;

  border-style: ridge;
  border-color: black;
  border-width: 3px;
  padding: 5px;
}

.character .avatar-thumbnail-btn, .character .avatar-main-btn {
  padding: 0px;
  height: calc(var(--img_size) + 4px);
}

.character .avatar-thumbnail-btn:hover, .character .avatar-main-btn:hover {
  border-color: red;
}

.character .avatar-thumbnail-img {
  width: var(--img_size);
  height: var(--img_size);
}

.character-show .main-title,
.character-edit .title,
.character-new .title {
  color: #82dbcf;
}

.character-show .content {
  color: var(--text_col); 
}

.character-show .left-details a {
  color:rgb(23, 168, 194);
}

.character-show .portrait-and-user,
.character-show .ruleset-image,
.character-show .character-details,
.character .form-controls {
  border-color: rgb(23, 168, 194);
  background-color: rgba(25, 72, 100, 0.61);
}

.character-show .center-details{
  width: 570px;
}

.character-show .character-details{
  max-width: 400px;
  align-self: center;
}

.character-show .adventure-list-title{
  font-family: 'metam';
  font-size: 25px;
  color: #b2e79a;
  margin-left: 25px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.character-show .adventure-list {
  overflow: auto;
}

.character-new, .character-edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.character-new .title,
.character-edit .title  {
    font-size: 45px;
    font-family: "Metam";
    margin-top: 15px;
}

.character-new .form-controls,
.character-edit .form-controls{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 15px;
}

.character .form-item {
  gap: 10px;
  display: flex;
  font-size: 18px;
  color: var(--text_col);
}

.character .form-item .form-control {
  font-size: 18px;
  color: var(--text_col);
  background-color: #0a3a667c;
}

.character .form-item select option {
  background: #0a3a66;
}

.character .form-controls .backstory {
  min-height: 200px;
  max-width: 284px;
  min-width: 284px;
}

.character .form-controls .avatar-main-btn {
  margin-left: 10%;
}

.character label {
  font-weight: bold;
  min-width: 100px;
}

.character .field_with_errors {
  min-width: 100px;
}

.character.field_with_errors .form-control{
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

.character-edit .actions,
.character-new .actions {
  margin-top: 5px;
}